.card {
    display: flex;
    border: 1px solid $border-color;
    justify-content: space-between;
    border-radius: 5px;
    width: 450px;
    height: 80px;
    padding: 15px;
    margin-top: 25px;
}
.card-text {
    margin: 8px;
}
.card-button-container {
    display: flex;
    align-items: center;
}

.card-button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    border-color: transparent;
    font-size: 14px;
    color: $color-button;
    cursor: pointer;
    background-color: $background-primary;
}