.loading {
    display: flex;
    height: 35vh;
    align-items: center;
}
.load {
    font-size: 46px;
    border-radius: 5px;
    padding: 5px;
    animation: rotation 1.2s infinite linear;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}