@import "./colors/color.scss";
@import "./card/card.scss";
@import "./search/search.scss";
@import "./loading/loading.scss";

body {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
.error {
    border: 1px solid $border-color;
    padding: 8px;
}
@media (max-width: 484px) {
    .card, .search_input   {
      width: auto;
    }
}