.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search_input {
   border: 1px solid $border-color;
   width: 400px;
   font-size: 16px;
   padding-left: 5px;
   height: 33px;
   border-radius: 8px;

};

.search_button {
    background: $background-seconds;
     border: 1px solid;
     border-color: transparent;
     color: $border-color;
     height: 35px;
     width: 35px;
     font-size: 15px;
     cursor: pointer;
     font-weight: 600;
     border-radius: 5px;
     margin-left: 5px;
}